<div class="aside-menu">
    <div class="menu-container">
        <div class="main-menu menu">
            <img class="logo" src="${path}/img/logo.png" />
            <a class="home" href="${path}/">HOME 首页</a>
            <a class="brand vicutu active" href="javascript:void(0);"></a>
            <ul class="aside-nav">
                <li><a href="${path}/news.do">NEWS 朗顿新闻</a></li>
                <li><a href="javascript:void(0);" data-mid="1">OUR WORK 朗顿作品</a></li>
                <li><a href="${path}/page/taobao">SERVICE PRICE 服务报价</a></li>
                <li><a href="javascript:void(0);">CAREERS 职业发展</a></li>
                <li><a href="javascript:void(0);">ABOUT LUNDON 关于朗顿</a></li>
            </ul>
            <hr class="separator up" />
            <a class="brand gornia" href="javascript:void(0);"></a>
            <ul class="aside-nav" style="display:none;">
                <li><a href="http://zaders.com:8082/news.do">NEWS 赞达人新闻</a></li>
                <li><a href="javascript:void(0);" data-mid="2">OUR WORK 赞达人作品</a></li>
                <li><a href="http://zaders.com:8082/page/taobao">SERVICE PRICE 服务报价</a></li>
                <li><a href="javascript:void(0);">CAREERS 职业发展</a></li>
                <li><a href="javascript:void(0);">ABOUT ZADERS 关于赞达人</a></li>
            </ul>
            <hr class="separator" />
            <!--<a class="vgo" href="javascript:void(0);"></a>
            <hr class="separator" />-->
            <h2 class="joinus">加入我们</h2>
            <h3 class="joinus">专享内容、活动和季节性促销信息</h3>
            <input type="text" class="joinus" placeholder="请输入您的电子邮箱地址" />
            <div class="checkinfo">
                <input type="checkbox" /><a class="underline" href="javascript:void(0);">我已阅读并接受隐私条款的约定</a>
            </div>
            <a class="register" href="javascript:void(0);">立即注册</a>
            <hr class="separator" />
            <ul class="aside-nav" style="margin-top:17px;">
                <li><a href="javascript:void(0);">Contact us  联系我们</a></li>
                <li><a href="javascript:void(0);">Recruitment  加入我们</a></li>
                <li><a href="javascript:void(0);">legal notice  法律声明</a></li>
            </ul>
            <div class="copyright">
                版权所有 ©2011-2014 Zaders.com<br />
                All Rights Reserved   <br />
                京ICP备12011654号<br />
                京公网安备110105014708769号
            </div>
            <br class="clearfix" />
        </div>
        <div class="sub-menu-container">
            <div class="sub-menu menu" data-mid="1">
                <h2>OUR WORK 朗顿作品</h2>
                <!--<h3>LUNDON</h3>-->
                <ul class="aside-nav" style="margin-top:12px;">
                    <li><a href="${path}/albumList.do">查看全部</a></li>
                    <li><a href="${path}/albumList.do?albumType=2">MEN 男装</a></li>
                    <li><a href="${path}/albumList.do?albumType=3">WOMEN 女装</a></li>
                    <li><a href="${path}/albumList.do?albumType=4">BAGS 箱包</a></li>
                    <li><a href="${path}/albumList.do?albumType=5">SHOES 鞋履</a></li>
                    <li><a href="${path}/albumList.do?albumType=6">FRAGRANCE&BEAUTY 香氛及美妆</a></li>
                    <li><a href="${path}/albumList.do?albumType=7">FOOD 美食特产</a></li>
                    <li><a href="${path}/albumList.do?albumType=8">JEWELLERY 珠宝</a></li>
                    <li><a href="${path}/albumList.do?albumType=9">DIGITAL 数码</a></li>
                    <li><a href="${path}/albumList.do?albumType=10">ACCESSORIES 服饰配件</a></li>
                    <li><a href="${path}/albumList.do?albumType=11">FURNITURE 家具建材</a></li>
                </ul>
            </div>
            <div class="sub-menu menu" data-mid="2">
                <h2>OUR WORK 赞达人作品</h2>
                <!--<h3>LUNDON</h3>-->
                <ul class="aside-nav" style="margin-top:12px;">
                    <li><a href="http://zaders.com:8082/albumList.do">查看全部</a></li>
                    <li><a href="http://zaders.com:8082/albumList.do?albumType=2">MEN 男装</a></li>
                    <li><a href="http://zaders.com:8082/albumList.do?albumType=3">WOMEN 女装</a></li>
                    <li><a href="http://zaders.com:8082/albumList.do?albumType=4">BAGS 箱包</a></li>
                    <li><a href="http://zaders.com:8082/albumList.do?albumType=5">SHOES 鞋履</a></li>
                    <li><a href="http://zaders.com:8082/albumList.do?albumType=6">FRAGRANCE&BEAUTY 香氛及美妆</a></li>
                    <li><a href="http://zaders.com:8082/albumList.do?albumType=7">FOOD 美食特产</a></li>
                    <li><a href="http://zaders.com:8082/albumList.do?albumType=8">JEWELLERY 珠宝</a></li>
                    <li><a href="http://zaders.com:8082/albumList.do?albumType=9">DIGITAL 数码</a></li>
                    <li><a href="http://zaders.com:8082/albumList.do?albumType=10">ACCESSORIES 服饰配件</a></li>
                    <li><a href="http://zaders.com:8082/albumList.do?albumType=11">FURNITURE 家具建材</a></li>
                </ul>
            </div>
        </div>
        <div class="sub-menu-close-btn"></div>
    </div>
</div>