<div class="header">
    <div class="locationInfo">您的所在位置：<span>中国</span><span class="separator">|</span>语言：<span>中文</span><span class="separator">|</span>客服电话：<span class="tel">010-87212318</span>&nbsp;&nbsp;<span class="tel">15811055790</span></div>
    <ul class="links clearfix">
        <li><a href="javascript:void(0);" class="weibo" title="微博"></a></li>
        <li><a href="javascript:void(0);" class="weixin" title="微信"></a></li>
    </ul>
</div>
<div class="header-m">
    <a class="menu" href="javascript:void(0);"><img src="${path}/img/menu.png" /></a>
    <a class="camera" href="javascript:void(0);"><img src="${path}/img/camera.png" /></a>
    <a class="logo" href="${path}/page/index"><img src="${path}/img/logo_m.png" /></a>
</div>
