.container{
    max-width:1650px;
    overflow:hidden;
}
.container .row table{
    width:100%;
    border:none;
    border-spacing: 0;
    margin:0;
    padding:0;
    table-layout:fixed;
}
.container .row table td {
    line-height: 0;
    vertical-align: top;
    border-collapse:collapse;
    border-spacing:0;
}
.container .row table img{
    width:100%;
    border:none;
    margin:0;
    padding:0;
}
.container .row table a img{
    border:none;
}
.zaders_index_image_link
{
    display:block;
    position:relative;
}
    .zaders_index_image_link img
    {
        border:0;
    }
    .zaders_index_image_link .hover
    {
        position:absolute;
        top:0;
        left:0;
        filter:alpha(opacity=0);
        opacity:0;
        -webkit-transition: opacity .3s;
                transition: opacity .3s;
    }
    .zaders_index_image_link:hover .hover
    {
        filter:alpha(opacity=100);
        opacity:1;
    }
.zaders_slide_image_link{
    position:relative;
    display:block;
    max-width:1650px;
    height:330px;
    overflow:hidden;
}
.zaders_slide_image_link .desc{
    position:absolute;
    top:0;
    left:0;
    width:330px;
    height:330px;
}
.zaders_slide_image_link .desc img{
    width:330px;
    height:330px;
}
.zaders_slide_image_link .image{
    height:330px;
    margin-left:330px;
    overflow:hidden;
}
.zaders_slide_image_link .image img{
    position:relative;
    top:-330px;
    max-width:1320px;
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
}
.zaders_slide_image_link:hover .image img{
    top:0;
}
.zaders_slide_image_link.right .desc{
    left:auto;
    right:0;
}
.zaders_slide_image_link.right .image{
    margin-left:0;
    margin-right:330px;
}