body {
    background: url("../img/bg.jpg") 0 0 repeat;
    font-family: Arial,"宋体";
    font-size:12px;
    margin:0;
    padding:0;
    min-width:1280px;
}
a{
    text-decoration:none;
}
a.underline{
    text-decoration:underline;
}
a:hover{
    text-decoration:underline;
}
a img{
    border:none;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Navigator
   ========================================================================== */
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:30px;
    background-color:#333333;
    z-index:2;
}
.header .locationInfo{
    float:left;
    margin-left:40px;
    color:#cccccc;
    line-height:30px;
    max-width:50%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.header .locationInfo span{
    color:#ffffff;
}
.header .links{
    display:block;
    float:right;
    list-style:none;
    margin: 0 40px 0 0;
    padding:0;
    height:30px;
}
.header .links li{
    float:left;
}
.header .links li a{
    display:block;
}
.header .links li a.weibo{
    width:20px;
    height:20px;
    margin:5px 0 5px 10px;
    background:url(../img/weibo.jpg) no-repeat 0 0;
}
.header .links li a.weibo:hover{
    background-position-y:-20px;
}
/* ==========================================================================
   Aside Menu
   ========================================================================== */
.aside-menu{
    position:fixed;
    top:30px;
    left:0;
    width:250px;
    display:block;
    background-color:#ffffff;
    overflow:visible;
    z-index:1;
}
.aside-menu .menu-container{
    position:relative;
    width:100%;
}
/*Main menu*/
.aside-menu .menu-container .main-menu{
    width:100%;
    height:100%;
    background-color:#fff;
    position:relative;
    z-index:2;
    box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    outline:none;
}
.aside-menu .menu-container .main-menu .logo{
    display:block;
    padding:27px 31px 33px 32px;
}
.aside-menu .menu-container .main-menu .home{
    display:block;
    background-color:#3366cc;
    padding:20px;
    line-height:20px;
    color:white;
    text-align:center;
}
.aside-menu .menu-container .main-menu .brand.vicutu{
    display:block;
    width:100px;
    height:22px;
    background:url(../img/vicutu.png) no-repeat 0 -22px;
    margin:30px auto;
}
.aside-menu .menu-container .main-menu .brand.vicutu.active,
.aside-menu .menu-container .main-menu .brand.vicutu:hover{
    background-position-y:0;
}
.aside-menu .menu-container .main-menu .brand.gornia{
    display:block;
    width:100px;
    height:10px;
    background:url(../img/gornia.png) no-repeat 0 0;
    margin:20px auto;
}
.aside-menu .menu-container .main-menu .brand.gornia.active,
.aside-menu .menu-container .main-menu .brand.gornia:hover{
    background-position-y:-10px;
}
.aside-menu .menu-container .main-menu ul.aside-nav{
    display:block;
    list-style:none;
    margin:0 0 20px;
    padding:0;
}
.aside-menu .menu-container .main-menu ul.aside-nav li a{
    display:block;
    text-align:center;
    color:#666666;
    line-height:20px;
    padding:10px;
    text-transform:uppercase;
}
.aside-menu .menu-container .main-menu ul.aside-nav li a:hover{
    color:#000;
}
.aside-menu .menu-container .main-menu ul.aside-nav li:first-child a{
    padding-top:0;
}
.aside-menu .menu-container .main-menu .separator{
    width:100px;
    height:0;
    margin:0 auto;
    line-height:0;
    font-size:0;
    border:none;
    border-bottom:1px solid #cccccc;
}
.aside-menu .menu-container .main-menu .separator.up{
    height:7px;
    border-bottom-color:#666666;
    cursor:pointer;
}
.aside-menu .menu-container .main-menu .separator.up:before{
    content:"";
    display:block;
    width:10px;
    height:5px;
    margin:0 auto;
    background:url(../img/arrow.png) no-repeat 0 0;
}
.aside-menu .menu-container .main-menu .separator.up:hover{
    border-bottom-color:#000;
}
.aside-menu .menu-container .main-menu .separator.up:hover:before{
    background-position-y:-5px;
}
.aside-menu .menu-container .main-menu .separator.down{
    height:7px;
    border:none;
    border-top: 1px solid #666666;
    cursor:pointer;
}
.aside-menu .menu-container .main-menu .separator.down:before{
    content:"";
    display:block;
    width:10px;
    height:5px;
    margin:2px auto 0;
    background:url(../img/arrow.png) no-repeat -10px 0;
}
.aside-menu .menu-container .main-menu .separator.down:hover{
    border-top-color:#000;
}
.aside-menu .menu-container .main-menu .separator.down:hover:before{
    background-position-y:-5px;
}
.aside-menu .menu-container .main-menu h2.joinus{
    color:#3366cc;
    margin:20px 10px 13px;
    padding:0;
    text-align:center;
    font-size:18px;
    font-weight:normal;
    line-height:20px;
}
.aside-menu .menu-container .main-menu h3.joinus{
    color:#666666;
    margin:10px;
    padding:0;
    text-align:center;
    font-size:12px;
    font-weight:normal;
    line-height:20px;
}
.aside-menu .menu-container .main-menu input[type=text].joinus{
    display:block;
    width:190px;
    height:20px;
    line-height:20px;
    margin:15px auto 19px;
    border:1px solid #cccccc;
    padding: 4px;
    text-align:center;
    color:#cccccc;
}
.aside-menu .menu-container .main-menu .checkinfo{
    text-align:center;
}
.aside-menu .menu-container .main-menu .checkinfo input[type=checkbox]{
    width:12px;
    height:12px;
    margin:0 5px 1px 0;
    padding:0;
    border:1px solid #666666;
    vertical-align:middle;
}
.aside-menu .menu-container .main-menu .checkinfo a{
    color:#666666;
}
.aside-menu .menu-container .main-menu a.register{
    display:block;
    width:120px;
    line-height:20px;
    color:#fff;
    padding:20px;
    margin:30px auto;
    font-size:16px;
    text-align:center;
    background-color:#3366cc;
}
/*Sub menu*/
.aside-menu .menu-container .sub-menu-close-btn{
    position:absolute;
    top:0;
    left:230px;
    width: 20px;
    height: 20px;
    background-color: #3366cc;
    background:url(../img/aside-menu-close-btn.jpg) no-repeat 0 0;
    text-align: center;
    display: block;
    color: #FFFFFF;
    line-height: 19px;
    cursor: pointer;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    -webkit-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
    z-index:1;
}
.aside-menu .menu-container .sub-menu-close-btn.active{
    left:450px;
}
.aside-menu .menu-container .sub-menu-container{
    position:absolute;
    top:0;
    left:30px;
    width:200px;
    height:100%;
    background-color:#fff;
    z-index:1;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    -webkit-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
}
.aside-menu .menu-container .sub-menu-container.active{
    left:250px;
}
.aside-menu .menu-container .sub-menu-container .sub-menu{
    display:none;
    opacity:0;
    width:100%;
    height:100%;
}
.aside-menu .menu-container .sub-menu-container .sub-menu h2{
    color:#3366cc;
    margin:40px 0 27px 0;
    padding:0 10px;
    font-size:12px;
    font-weight:normal;
    text-align:center;
}
.aside-menu .menu-container .sub-menu-container .sub-menu h3{
    color:#999999;
    margin:0;
    padding:0 10px;
    font-size:12px;
    font-weight:normal;
    text-align:center;
}
.aside-menu .menu-container .sub-menu-container .sub-menu h3:before{
    content:"----";
    font-family:"宋体";
    padding-right:5px;
}
.aside-menu .menu-container .sub-menu-container .sub-menu h3:after{
    content:"----";
    font-family:"宋体";
    padding-left:5px;
}
.aside-menu .menu-container .sub-menu-container .sub-menu ul.aside-nav{
    display:block;
    list-style:none;
    margin:0 0 20px;
    padding:0;
}
.aside-menu .menu-container .sub-menu-container .sub-menu ul.aside-nav li a{
    display:block;
    text-align:center;
    color:#666666;
    line-height:20px;
    padding:10px;
    text-transform:uppercase;
}
.aside-menu .menu-container .sub-menu-container .sub-menu ul.aside-nav li a:hover{
    color:#000;
}
/* ==========================================================================
   Main Container
   ========================================================================== */
.container{
    margin:30px 0 0 250px;
    background-color:white;
    position:relative;
    font-size:0;
}
.container .row{
    position: relative;
    width: 100%;
}
.container .row:after{
    content: "";
    display: table;
    clear: both;
}
.container .row .grid{
    float:left;
    position:relative;
    line-height:0;
}
.container .row .grid-1x1{
    width:33.333%;
    min-height:515px;
}
.container .row .grid-2x1{
    width:66.666%;
    min-height:515px;
}
.container .row .grid-3x1{
    width:100%;
    min-height:515px;
}
