body {
    /*background: url("../img/bg.jpg") 0 0 repeat;*/
    background-color:#000;
    font-family: Arial,"宋体";
    font-size:12px;
    margin:0;
    padding:0;
    /*min-width:1280px;*/
}
body.no-scroll{
    overflow:hidden;
}
a{
    text-decoration:none;
}
a.underline{
    text-decoration:underline;
}
a:hover{
    text-decoration:underline;
}
a img{
    border:none;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Navigator
   ========================================================================== */
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:30px;
    background-color:#000000;
    z-index:2;
}
.header .locationInfo{
    float:left;
    margin-left:40px;
    color:#cccccc;
    line-height:30px;
    max-width:50%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.header .locationInfo span{
    color:#ffffff;
}
.header .locationInfo span.separator{
    color:#cccccc;
    padding:0 10px;
}
.header .locationInfo span.tel{
    color:#f62424;
}
.header .links{
    display:block;
    float:right;
    list-style:none;
    margin: 0 40px 0 0;
    padding:0;
    height:30px;
}
.header .links li{
    float:left;
}
.header .links li a{
    display:block;
}
.header .links li a.weibo{
    width:20px;
    height:20px;
    margin:5px 0 5px 10px;
    background:url(../img/weibo.png) no-repeat 0 0;
}
.header .links li a.weibo:hover{
    background-position-y:-20px;
}
.header .links li a.weixin{
    width:20px;
    height:20px;
    margin:5px 0 5px 10px;
    background:url(../img/weixin.png) no-repeat 0 0;
    background-position-y:-20px;
}
.header .links li a.weixin:hover{
    background-position-y:0;
}
/* ==========================================================================
   Navigator Mobile
   ========================================================================== */
.header-m{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:50px;
    background:#fff;
    text-align:center;
    z-index:4;
}
.header-m a.logo{
    display:inline-block;
    margin-top: 15.5px;
}
.header-m a.logo img{
    width: 124px; 
    height: 18.25px;
}
.header-m a.menu{
    position:absolute;
    top:15px;
    left:17.5px;
    width:15px;
    height:20px;
}
.header-m a.menu img{
    width:100%;
}
.header-m a.camera{
    position:absolute;
    top:15px;
    right:12.5px;
    width:27.5px;
    height:20px;
}
.header-m a.camera img{
    width:100%;
}
/* ==========================================================================
   Menu Mobile
   ========================================================================== */
.menu-m{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#000;
    overflow:auto;
    z-index:5;
}
.menu-m.m-right{
    background:#fff;
}
.menu-m .menu-header{
    width:100%;
    height:50px;
    margin:0 0 25px 0;
    text-align:center;
}
.menu-m .menu-header a.logo{
    display:inline-block;
}
.menu-m .menu-header a.close{
    position:absolute;
    top:15px;
    left:15px;
    width:17.5px;
    height:20px;
}
.menu-m.m-right .menu-header a.close{
    left: auto;
    right: 15px;
}
.menu-m .menu-header a.close img{
    width:100%;
}
.menu-m ul.menu-content{
    display:block;
    list-style:none;
    margin:0 50px;
    padding:0;
}
.menu-m ul.menu-content li{
    display:block;
    border-bottom:1px solid #333333;
}
.menu-m ul.menu-content li a{
    display:block;
    height:40.75px;
    line-height:40.75px;
    margin-top:9.25px;
    overflow:hidden;
    color:#fff;
    font-size:14px;
    font-family:"微软雅黑";
    text-decoration:none;
}
.menu-m.m-right ul.menu-content li a{
    color:#000;
}
.menu-m ul.menu-content li a span{
    display:block;
}
.menu-m ul.menu-content li a span.left{
    float:left;
    margin-left:5px;
}
.menu-m ul.menu-content li a span.right{
    float:right;
    margin-right:5px;
}
.menu-m a.menu-btn{
    display:block;
    width:214px;
    margin:25px auto;
    padding:14px;
    color:#fff;
    font-size:16px;
    font-family:"微软雅黑";
    line-height:16px;
    text-decoration:none;
    text-align:center;
    background:#000000;
}
.menu-m a.menu-btn img{
    display:inline-block;
    height:16px;
    margin-right:8px;
    vertical-align:bottom;
}
/* ==========================================================================
   Aside Menu
   ========================================================================== */
.aside-menu{
    position:fixed;
    top:30px;
    left:0;
    width:250px;
    display:block;
    background-color:#ffffff;
    overflow:visible;
    z-index:1;
}
.aside-menu .menu-container{
    position:relative;
    width:100%;
}
/*Main menu*/
.aside-menu .menu-container .main-menu{
    width:100%;
    height:100%;
    background-color:#fff;
    position:relative;
    z-index:2;
    box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    outline:none;
}
.aside-menu .menu-container .main-menu .logo{
    display:block;
    padding:32px 31px 33px 32px;
}
.aside-menu .menu-container .main-menu .home{
    display:block;
    background-color:#f62424;
    padding:20px;
    line-height:20px;
    color:white;
    text-align:center;
}
.aside-menu .menu-container .main-menu .brand.vicutu{
    display:block;
    width:100px;
    height:71px;
    background:url(../img/zami.png) no-repeat 0 -71px;
    margin:30px auto;
}
.aside-menu .menu-container .main-menu .brand.vicutu.active,
.aside-menu .menu-container .main-menu .brand.vicutu:hover{
    background-position-y:0;
}
.aside-menu .menu-container .main-menu .brand.gornia{
    display:block;
    width:100px;
    height:33px;
    background:url(../img/zaders.png) no-repeat 0 -33px;
    margin:20px auto;
}
.aside-menu .menu-container .main-menu .brand.gornia.active,
.aside-menu .menu-container .main-menu .brand.gornia:hover{
    background-position-y:0;
}
.aside-menu .menu-container .main-menu .vgo{
    display:block;
    width:100px;
    height:42px;
    background:url(../img/vgo.png) no-repeat 0 -42px;
    margin:20px auto;
}
.aside-menu .menu-container .main-menu .vgo.active,
.aside-menu .menu-container .main-menu .vgo:hover{
    background-position-y:0px;
}
.aside-menu .menu-container .main-menu .children{
    display:block;
    width:100px;
    height:95px;
    background:url(../img/zami-children.png) no-repeat 0 -95px;
    margin:20px auto;
}
.aside-menu .menu-container .main-menu .children.active,
.aside-menu .menu-container .main-menu .children:hover{
    background-position-y:0px;
}
.aside-menu .menu-container .main-menu ul.aside-nav{
    display:block;
    list-style:none;
    margin:0 0 20px;
    padding:0;
}
.aside-menu .menu-container .main-menu ul.aside-nav li a{
    display:block;
    text-align:center;
    color:#666666;
    line-height:20px;
    padding:10px;
    text-transform:uppercase;
}
.aside-menu .menu-container .main-menu ul.aside-nav li a:hover{
    color:#000;
}
.aside-menu .menu-container .main-menu ul.aside-nav li:first-child a{
    padding-top:0;
}
.aside-menu .menu-container .main-menu .separator{
    width:100px;
    height:0;
    margin:0 auto;
    line-height:0;
    font-size:0;
    border:none;
    border-bottom:1px solid #cccccc;
}
.aside-menu .menu-container .main-menu .separator.up{
    height:7px;
    border-bottom-color:#666666;
    cursor:pointer;
}
.aside-menu .menu-container .main-menu .separator.up:before{
    content:"";
    display:block;
    width:10px;
    height:5px;
    margin:0 auto;
    background:url(../img/arrow.png) no-repeat 0 0;
}
.aside-menu .menu-container .main-menu .separator.up:hover{
    border-bottom-color:#000;
}
.aside-menu .menu-container .main-menu .separator.up:hover:before{
    background-position-y:-5px;
}
.aside-menu .menu-container .main-menu .separator.down{
    height:7px;
    border:none;
    border-top: 1px solid #666666;
    cursor:pointer;
}
.aside-menu .menu-container .main-menu .separator.down:before{
    content:"";
    display:block;
    width:10px;
    height:5px;
    margin:2px auto 0;
    background:url(../img/arrow.png) no-repeat -10px 0;
}
.aside-menu .menu-container .main-menu .separator.down:hover{
    border-top-color:#000;
}
.aside-menu .menu-container .main-menu .separator.down:hover:before{
    background-position-y:-5px;
}
.aside-menu .menu-container .main-menu h2.joinus{
    color:#f62424;
    margin:20px 10px 13px;
    padding:0;
    text-align:center;
    font-size:16px;
    font-weight:normal;
    line-height:20px;
}
.aside-menu .menu-container .main-menu h3.joinus{
    color:#666666;
    margin:10px;
    padding:0;
    text-align:center;
    font-size:12px;
    font-weight:normal;
    line-height:20px;
}
.aside-menu .menu-container .main-menu input[type=text].joinus{
    display:block;
    width:190px;
    height:20px;
    line-height:20px;
    margin:15px auto 19px;
    border:1px solid #cccccc;
    padding: 4px;
    text-align:center;
    color:#cccccc;
}
.aside-menu .menu-container .main-menu .checkinfo{
    text-align:center;
}
.aside-menu .menu-container .main-menu .checkinfo input[type=checkbox]{
    width:12px;
    height:12px;
    margin:0 5px 1px 0;
    padding:0;
    border:1px solid #666666;
    vertical-align:middle;
}
.aside-menu .menu-container .main-menu .checkinfo a{
    color:#666666;
}
.aside-menu .menu-container .main-menu a.register{
    display:block;
    width:120px;
    line-height:20px;
    color:#fff;
    padding:20px;
    margin:30px auto;
    font-size:16px;
    text-align:center;
    background-color:#000000;
}
.aside-menu .menu-container .main-menu .copyright{
    text-align:center;
    line-height:20px;
    color:#cccccc;
}
/*Sub menu*/
.aside-menu .menu-container .sub-menu-close-btn{
    position:absolute;
    top:0;
    left:230px;
    width: 20px;
    height: 20px;
    background-color: #3366cc;
    background:url(../img/aside-menu-close-btn.jpg) no-repeat 0 0;
    text-align: center;
    display: block;
    color: #FFFFFF;
    line-height: 19px;
    cursor: pointer;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    -webkit-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
    z-index:1;
}
.aside-menu .menu-container .sub-menu-close-btn.active{
    left:450px;
}
.aside-menu .menu-container .sub-menu-container{
    position:absolute;
    top:0;
    left:30px;
    width:200px;
    height:100%;
    background-color:#eeeeee;
    z-index:1;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    -webkit-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
}
.aside-menu .menu-container .sub-menu-container.active{
    left:250px;
}
.aside-menu .menu-container .sub-menu-container .sub-menu{
    display:none;
    opacity:0;
    width:100%;
    height:100%;
}
.aside-menu .menu-container .sub-menu-container .sub-menu h2{
    color:#999999;
    margin:40px 0 27px 0;
    padding:0 10px;
    font-size:12px;
    font-weight:normal;
    text-align:center;
}
.aside-menu .menu-container .sub-menu-container .sub-menu h3{
    color:#999999;
    margin:0;
    padding:0 10px;
    font-size:12px;
    font-weight:normal;
    text-align:center;
}
/*.aside-menu .menu-container .sub-menu-container .sub-menu h3:before{
    content:"----";
    font-family:"宋体";
    padding-right:5px;
}
.aside-menu .menu-container .sub-menu-container .sub-menu h3:after{
    content:"----";
    font-family:"宋体";
    padding-left:5px;
}*/
.aside-menu .menu-container .sub-menu-container .sub-menu ul.aside-nav{
    display:block;
    list-style:none;
    margin:0 0 20px;
    padding:0;
}
.aside-menu .menu-container .sub-menu-container .sub-menu ul.aside-nav li a{
    display:block;
    text-align:center;
    color:#666666;
    line-height:20px;
    padding:10px;
    text-transform:uppercase;
}
.aside-menu .menu-container .sub-menu-container .sub-menu ul.aside-nav li a:hover{
    color:#000;
}
/* ==========================================================================
   Main Container
   ========================================================================== */
.container{
    margin:30px 0 0 250px;
    background-color:white;
    position:relative;
    font-size:0;
    text-indent:0;
    z-index:0;
}
.container:before,
.container:after{
    content:"";
    display:table;
}
.container:after{
    clear:both;
}
.container .row{
    position: relative;
    width: 100%;
}
.container .row:before,
.container .row:after{
    content:"";
    display:table;
}
.container .row:after{
    clear: both;
}
.container .row .grid{
    float:left;
    position:relative;
    line-height:0;
}
.container .row .grid-1x1{
    width:33.333%;
    /*min-height:515px;*/
    /*min-height:150px;*/
}
.container .row .grid-2x1{
    width:66.666%;
    /*min-height:150px;*/
}
.container .row .grid-3x1{
    width:100%;
    /*min-height:150px;*/
}
@media (max-width: 1068px) {
    .header{
        display:none;
    }
    .header-m{
        display:block;
    }
    .menu-m.open{
        display:block;
    }
    .aside-menu{
        display:none;
    }
    .container{
        margin:50px 0 0 0;
    }
}