.imagezoom{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.75);
    z-index:1;
    display:none;
}
.imagezoom.removing{
    opacity:0;
}
.imagezoom .imagezoom-container{
    position:relative;
    width:100%;
    /*min-height:700px;*/
    z-index:1;
}
.imagezoom .imagezoom-container .image{
    position:relative;
    width:auto;
    height:auto;
    margin:0 auto;
    overflow:hidden;
    z-index:1;
}
.imagezoom .imagezoom-container .image > img{
    width:100%;
    z-index:0;
}
.imagezoom .imagezoom-container .image img.removing{
    opacity:0;
}
.imagezoom .imagezoom-container .image .text{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    padding:15px 0;
    background-color:#fff;
    font-family:Arial,"宋体";
    display:none;
    z-index:1;
}
.imagezoom .imagezoom-container .image .text h3{
    margin:0;
    padding:0 30px;
    font-size:16px;
    font-weight:normal;
    line-height:20px;
    color:#3366cc;
}
.imagezoom .imagezoom-container .image .text p{
    margin:0;
    padding:10px 30px 0;
    font-size:12px;
    font-weight:normal;
    line-height:20px;
    color:#000000;
}
@keyframes loading
{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@-moz-keyframes loading
{
    from {
        -moz-transform:rotate(0deg);
    }
    to {
        -moz-transform:rotate(360deg);
    }
}
@-o-keyframes loading
{
    from {
        -o-transform:rotate(0deg);
    }
    to {
        -o-transform:rotate(360deg);
    }
}
@-webkit-keyframes loading
{
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}
.imagezoom .imagezoom-container .image.loading:after{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    width:64px;
    height:64px;
    margin: -32px 0 0 -32px;
    background:url(../img/loading.png) no-repeat 0 0;
    animation:loading 1.2s linear infinite;
    -moz-animation: loading 1.2s linear infinite;
    -webkit-animation:loading 1.2s linear infinite;
    -o-animation: loading 1.2s linear infinite;
    z-index:3;
}
.imagezoom .imagezoom-container .arrow-left{
    position:absolute;
    top:50%;
    left:6%;
    display:block;
    width:86px;
    height:164px;
    margin-top:-50px;
    background:url(../img/imagezoom-arrow-new.png) no-repeat 0 0;
    z-index:2;
    opacity:0.5;
}
.imagezoom .imagezoom-container .arrow-left:hover{
    opacity:1;
}
.imagezoom .imagezoom-container .arrow-right{
    position:absolute;
    top:50%;
    right:6%;
    display:block;
    width:86px;
    height:164px;
    margin-top:-50px;
    background:url(../img/imagezoom-arrow-new.png) no-repeat -86px 0;
    z-index:2;
    opacity:0.5;
}
.imagezoom .imagezoom-container .arrow-right:hover{
    opacity:1;
}