.container .row .grid > a{
    position:relative;
    display:block;
    width:100%;
    height:100%;
}
.container .row .grid > a > img{
    width:100%;
}
.container .row .auto-cover > a,
.container .row .manual-cover > a{
    background-color:#000;
}
.container .row .auto-cover > a > img,
.container .row .manual-cover > a > img{
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    -webkit-transform-style:preserve-3d;
    -webkit-backface-visibility:hidden;
}
.container .row .auto-cover:hover > a > img,
.container .row .cover > a > img{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) !important;
    opacity: 0.7 !important;
}
.container .row .grid > a .text{
    color:#000;
    font-size:12px;
    font-family:Arial,"微软雅黑";
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 100%;
    margin-left: -50%;
    margin-top: -150px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform-style:preserve-3d;
    -webkit-backface-visibility:hidden;
}
.container .row .grid > a .text.hover-show{
    opacity:0;
}
.container .row .grid:hover > a .text.hover-show{
    opacity:1;
}
.container .row .grid > a .text.back-color-white{
    width:60%;
    margin-left:-30%;
    margin-top:-100px;
    padding-bottom:40px;
    background-color:rgba(255, 255, 255, 0.6);
}
.container .row .grid > a .text.font-color-white{
    color:#fff;
}
.container .row .grid > a .text h1{
    margin:30px auto 0;
    padding:0 10%;
    line-height:1.1em;
    font-size:3.666em;
    font-weight:normal;
}
.container .row .grid > a .text h2{
    margin:30px auto 0;
    padding:0 10%;
    line-height:1.1em;
    font-size:1.888em;
    font-weight:normal;
}
.container .row .grid > a .text h3{
    margin:20px auto 0;
    padding:0 10%;
    line-height:1.2em;
    font-size:1em;
    font-weight:normal;
}
.container .row .grid > a .text p{
    margin:20px auto 0;
    padding:0 10%;
    /*line-height:1.666em;
    font-size:1em;*/
    line-height:20px;
    font-size:12px;
    font-family:Arial,"微软雅黑";
    font-weight:normal;
}
.container .row .grid > a .link{
    display:block;
    width:30%;
    height:60px;
    margin:40px auto 0;
    line-height:60px;
    color:#fff;
    font-size:12px;
    font-family:Arial,"宋体";
    background-color:#3366cc;
}
@media screen and (min-width: 1440px) and (max-width: 1850px){
    .container .row .grid > a .text {
        font-size: 16px;
    }
}
@media screen and (min-width: 1850px) and (max-width: 2200px){
    .container .row .grid > a .text {
        font-size: 20px;
    }
}
@media screen and (min-width: 2200px){
    .container .row .grid > a .text {
        font-size: 24px;
    }
}
.container > .video-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:1;
    display:none;
}
.container > .video-container .video{
    width:653px;
    height:400px;
    margin:220px auto 0;
}