/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:0px;
    /*-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;*/
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 0;
	position:relative;
    height:100px;
	margin-top:-100px;
	z-index:9;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:12px;
	height:13px;
	background:url(slide-ctrl.png) no-repeat;
    background-size:cover;
	text-indent:-9999px;
	border:0;
	margin: 18px 25px 0;
    vertical-align:top;
}
.theme-default .nivo-controlNav a.active {
	width:52px;
	height:50px;
	background:url(slide-ctrl-active.png) no-repeat;
    background-size:cover;
	margin: 0 25px 0 10px;
}

.theme-default .nivo-directionNav a {
	display:block;
    top:50%;
    width:86px;
    height:164px;
    margin-top:-82px;
    background:url(imagezoom-arrow-new.png) no-repeat 0 0;
	text-indent:-9999px;
	border:0;
	opacity: 0;
}
.theme-default:hover .nivo-directionNav a { opacity: 0.5; }
.theme-default .nivo-directionNav a:hover{ opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-86px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
@media (max-width: 1068px) {
    .theme-default .nivo-controlNav {
        height:50px;
	    margin-top:-50px;
    }
    .theme-default .nivo-controlNav a {
	    display:inline-block;
	    width:6px;
	    height:6.5px;
	    margin: 9px 12.5px 0;
    }
    .theme-default .nivo-controlNav a.active {
	    width:26px;
	    height:25px;
	    margin: 0 12.5px 0 5px;
    }
    .theme-default .nivo-directionNav a {
        width:43px;
        height:82px;
        margin-top:-41px;
        background-size:86px 82px;
    }
    .theme-default a.nivo-nextNav {
	    background-position:-44px 0;
    }
}